<template>
  <div class="configuration-form">
    <h4 class="title">Configuration</h4>
    <p class="subtitle">Please configure your gitlab pipeline dashboard.</p>
    <b-card class="text-dark">
      <b-form v-on:submit.prevent="onSubmit" ref="form">
        <div role="group">
          <label for="input-url">GitLab URL: <span class="text-danger">*</span></label>
          <b-form-input
              id="input-url"
              ref="input-url"
              v-model="formData.url"
              required
              :state="validateInput('input-url')"
              trim
              type="url"
              placeholder=""
              aria-describedby="input-url-feedback"
              :aria-invalid="validateInput('input-url')"
          />
          <b-form-feedback class="feedback" id="input-url-feedback">
            Please enter a valid URL.
          </b-form-feedback>
        </div>

        <div role="group">
          <label for="input-url">
            API Access Token: <span class="text-danger">*</span><br/>
            <span class="hint">Retrieve 'read_api' token from <a
                :href="$data.formData.url+'/profile/personal_access_tokens'">/profile/personal_access_tokens</a></span>
          </label>
          <b-form-input
              id="input-token"
              ref="input-token"
              v-model="formData.token"
              required
              :state="validateInput('input-token')"
              trim
              autocomplete="none"
              type="password"
              aria-describedby="input-token-feedback"
              :aria-invalid="validateInput('input-token')"
          />
          <b-form-feedback class="feedback" id="input-token-feedback">
            Enter a API access token
          </b-form-feedback>
        </div>

        <div role="group">
          <label for="input-url">Groups:
            <span class="hint">separated by semicolon: ';'</span></label>
          <b-form-input
              id="input-group"
              ref="input-group"
              v-model="formData.groups"
              :required="!formData.groups && !formData.projects"
              trim
              type="text"
              placeholder="supers; winners"
              aria-describedby="input-group-text"
          />
          <b-form-text class="feedback badges" id="input-group-text">
            <b-badge
                variant="primary"
                pill
                v-for="(group, key) in splitNames(formData.groups)"
                :key="key"
            >
              {{ group }}
            </b-badge>
          </b-form-text>
        </div>

        <div role="group">
          <label for="input-url">Projects: <br/>
            <span class="hint">exact path with namespace: e.g. lkwg82/gitlab-pipeline-dashboard, separated by semicolon: ';'</span>
          </label>
          <b-form-input
              id="input-projects"
              ref="input-projects"
              v-model="formData.projects"
              trim
              type="text"
              placeholder="alpha; beta"
              aria-describedby="input-projects-text"
          />
          <b-form-text class="feedback badges" id="input-projects-text">
            <b-badge
                variant="info"
                pill
                v-for="(project, key) in splitNames(formData.projects)"
                :key="key"
            >
              {{ project }}
            </b-badge>
          </b-form-text>
        </div>

        <b-button
            type="submit"
            :variant="checkValidity() ? 'primary' : 'outline-primary'"
            @click="onSubmit">
          Save
        </b-button>

      </b-form>
    </b-card>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import {Config} from '@/interfaces'

export default Vue.extend({
  name: 'ConfigurationForm',
  props: {
    config: {
      type: Object as () => Config,
      required: true,
    },
  },
  data: () => ({
    submitted: false,
    formData: {
      url: '',
      token: '',
      groups: '',
      projects: '',
    },
  }),
  watch: {
    config: function(config) {
      this.formData = {...config}
    },
  },
  methods: {
    checkValidity() {
      const form = this.$refs.form as HTMLFormElement
      if (!this.formData.groups && !this.formData.projects) {
        return false
      }
      if (form) {
        return form.checkValidity()
      }
      return false
    },
    onSubmit(e: Event) {
      this.submitted = true
      this.$emit('onSubmit', this.formData)
    },
    onCancel() {
      this.$emit('onCancel')
    },
    validateInput(ref: string) {
      if (!this.submitted) {
        return null
      }
      const input = this.$refs[ref] as HTMLInputElement
      return (input && (input.value || this.submitted)) ? input.validity.valid && input.value : null
    },
    splitNames(names: string) {
      return names.split(';')
          .map((part) => part.trim())
          .filter((part) => part !== '')
    },
  },
  created() {
    this.formData = {...this.config}
  },
})
</script>

<style scoped lang="scss">

.subtitle {
  line-height: 1;
}

div[role="group"] {
  margin-bottom: 0.5rem;
}

label {
  margin-bottom: 0.1rem;

  .hint {
    font-size: small;
  }
}

input {
  display: inline-block;

  &::placeholder {
    color: #cacaca;
  }
}

.feedback {
  margin-bottom: 0;
}

.badges {
  font-size: 1rem;

  .badge {
    margin-right: 0.2rem;
  }
}

button {
  float: right;
  margin-top: 1rem;
  min-width: 6rem;
}

</style>
