<template>
  <div class="contribute-link">
    <a href="https://gitlab.com/lkwg82/gitlab-pipeline-dashboard" target="gitlab">
      Made with
      <v-icon name="heart" class="heart"/>
      - contribute!
    </a>
  </div>
</template>

<script>
import 'vue-awesome/icons/heart'

export default {
  name: 'ContributeLink',
}
</script>

<style scoped lang="scss">
.contribute-link {
  position: fixed;
  bottom: 0;
  text-shadow: 1px 1px 1px #fff, 1px 1px 1px #ccc;

  .heart {
    color: red;
  }
}
</style>