<template>

</template>

<script>
import Vue from 'vue'

export default Vue.extend({
  name: 'Favicon',
  props: {
    pipelines: {
      type: Array,
      default: () => [],
    },
  },
  data: () => ({
    favicons: {
      active: 'favicon_active.png',
      failed: 'favicon_failed.png',
      normal: 'favicon.png',
    },
  }),
  watch: {
    pipelines: (pipelines) => {
      if (null === pipelines) {
        return
      }

      const status = {
        failed: 0,
        running: 0,
      }
      for (const i of Object.keys(pipelines)) {
        const pipeline = pipelines[i]
        if (!status[pipeline.status]) {
          status[pipeline.status] = 0
        }
        status[pipeline.status]++
      }


      // based on: https://medium.com/@alperen.talaslioglu/building-dynamic-favicon-with-javascript-223ad7999661
      const favicon = document.getElementById('favicon')
      const faviconSize = 256

      const canvas = document.createElement('canvas')
      canvas.width = faviconSize
      canvas.height = faviconSize

      const context = canvas.getContext('2d')
      const img = document.createElement('img')
      img.src = favicon.href

      const showNoIndicator = (status.failed + status.running) === 0
      if (showNoIndicator) {
        favicon.href = document.location.href + '/favicon.png'
        return
      }

      img.onload = () => {
        const colors = {
          fail: '#FF0000',
          active: '#0040ff',
        }
        const count = status.failed > 0 ? status.failed : status.running
        const color = status.failed > 0 ? colors.fail : colors.active


        // Draw Original Favicon as Background
        context.drawImage(img, 0, 0, faviconSize, faviconSize)

        // Draw Notification Circle
        context.beginPath()
        context.arc(canvas.width - faviconSize / 3, faviconSize / 3, faviconSize / 3, 0, 2 * Math.PI)
        context.fillStyle = color
        context.fill()

        // Draw Notification Number
        context.font = (faviconSize / 16) + 'em "helvetica", sans-serif'
        context.textAlign = 'center'
        context.textBaseline = 'middle'
        context.fillStyle = '#FFFFFF'
        context.fillText(count, canvas.width - faviconSize / 3, faviconSize / 3)

        // Replace favicon
        favicon.href = canvas.toDataURL('image/png')
      }
    }
    ,
  },
})

</script>

<style scoped>

</style>