<template>
  <div>
    <div v-for="group in groups">
      <p>{{ group.namespace }}</p>
      <div class="tile-grid">
        <pipeline-tile
            class="tile"
            v-for="pipeline in group.pipelines"
            :key="pipeline.id"
            :pipeline="pipeline"
            :name="pipeline.projectName"
        />
      </div>
    </div>
  </div>
</template>

<script lang="ts">

import Vue from 'vue'
import PipelineTile from './PipelineTile.vue'
import {GitLabPipelineDetails} from '@/interfaces'

interface PipelineGroup {
  namespace: string,
  pipelines: GitLabPipelineDetails[],
}

export default Vue.extend({
  name: 'PipelineTileGrid',
  components: {
    PipelineTile,
  },
  props: {
    pipelines: Array as () => GitLabPipelineDetails[],
  },
  computed: {
    groups(): PipelineGroup[] {
      const groups = new Map<string, PipelineGroup>()

      for (const pipeline of this.pipelines) {
        const namespace: string = pipeline.namespace
        if (groups.has(namespace)) {
          const group: PipelineGroup | undefined = groups.get(namespace)
          if (group) {
            group.pipelines.push(pipeline)
          }
        } else {
          groups.set(namespace, {
            namespace: namespace,
            pipelines: [pipeline],
          })
        }
      }

      return Array.from(groups.values())
    },
  },
})
</script>

<style scoped lang="scss">

.tile-grid {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .tile {
    display: flex;
    //width: 28rem;
    height: 3rem;
    //padding: 0.5rem;
  }
}
</style>