<template>
  <div id="app">
    <ContributeLink/>
    <Favicon :pipelines="pipelines"/>
    <background/>

    <b-button-close
        class="options"
        @click="openConfiguration"
        v-if="!configuring"
        v-b-tooltip.hover
        placement="left"
        title="Open options"
        aria-label="options"
    >
      <v-icon name="cog"/>
    </b-button-close>

    <configuration-form
        v-if="configuring"
        class="configuration-form"
        @onSubmit="onSubmit"
        :config="config"
    />

    <div class="fluid" v-else>

      <div v-if="error" class="error-message">
        <v-icon name="exclamation-triangle" class="icon"></v-icon>
        <h3>{{ error }}</h3>
        <p>The dashboard will automatically retry every 60 seconds.</p>
        <b-button
            size="lg"
            variant="outline-danger"
            @click="retry"
        >Retry now
        </b-button>
      </div>

      <div class="fluid" v-else>
        <div v-if="loading">
          <loading-spinner/>
        </div>
        <div v-else class="tiles fluid" ref="tiles">
          <pipeline-tile-grid :pipelines="pipelines"/>
        </div>
      </div>

    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Background from './components/Background.vue'
import ConfigurationForm from './components/ConfigurationForm.vue'
import ErrorBoundary from './components/ErrorBoundary.vue'
import Favicon from './components/Favicon.vue'
import ContributeLink from './components/ContributeLink.vue'
import LoadingSpinner from './components/LoadingSpinner.vue'
import PipelineTile from './components/PipelineTile.vue'
import PipelineTileGrid from './components/PipelineTileGrid.vue'
import storage from './lib/storage'
import GitLab from './clients/gitlab'
import {Config, GitLabGroup, GitLabPipelineDetails, GitLabProject} from '@/interfaces'

interface Pipeline extends GitLabPipelineDetails {
  projectName: string
  namespace: string
}

const defaultConfig = {
  url: 'https://gitlab.com',
  token: '',
  groups: '',
  projects: '',
}
const userConfig = storage.get('config') || {}

export default Vue.extend({
  name: 'app',
  components: {
    ConfigurationForm,
    PipelineTile,
    PipelineTileGrid,
    Background,
    LoadingSpinner,
    ErrorBoundary,
    Favicon,
    ContributeLink,
  },
  data: () => ({
    config: {
      ...defaultConfig,
      ...userConfig,
    } as Config,
    gitlab: null as null | GitLab,
    projects: null as null | GitLabProject[],
    pipelines: null as null | Pipeline[],
    pipelinePoll: null as any,
    projectPoll: null as any,
    retryPoll: null as any,
    showConfiguration: false as boolean,
    error: null as null | string | Error,
  }),
  computed: {
    configuring: function() {
      return this.showConfiguration ||
          !this.config.token ||
          !this.config.url ||
          (!this.config.groups && !this.config.projects)
    },
    loading: function() {
      return !this.pipelines
    },
  },
  watch: {
    async configuring(configuring: boolean) {
      if (!configuring) {
        // @ts-ignore
        this.pollProjects()
      }
    },
    async projects(projects: undefined | GitLabProject[]) {
      if (projects) {
        // @ts-ignore
        this.pollPipelines()
        // @ts-ignore
        this.stopPollingRetry()
      }
    },
  },
  methods: {
    retry() {
      this.error = null
      this.projects = null
      // @ts-ignore
      this.pollProjects()
    },
    async pollProjects() {
      // @ts-ignore
      this.stopPollingPipelines()
      // @ts-ignore
      await this.loadProjects(this.config)
    },
    async pollPipelines() {
      // @ts-ignore
      this.stopPollingPipelines()
      // @ts-ignore
      await this.loadPipelines()
      this.pipelinePoll = setInterval(() => {
        // @ts-ignore
        this.loadPipelines()
      }, 5 * 1000)
    },
    autoRetry() {
      // @ts-ignore
      this.retryPoll = setInterval(
          // @ts-ignore
          () => this.retry()
          , 60 * 1000)
    },
    stopPollingProjects() {
      if (this.projectPoll) {
        window.clearInterval(this.projectPoll)
      }
    },
    stopPollingPipelines() {
      if (this.pipelinePoll) {
        window.clearInterval(this.pipelinePoll)
      }
    },
    stopPollingRetry() {
      if (this.retryPoll) {
        window.clearInterval(this.retryPoll)
      }
    },
    openConfiguration() {
      this.showConfiguration = true
    },
    onSubmit(formConfig: Config) {
      // @ts-ignore
      this.stopPollingRetry()
      this.error = null
      this.pipelines = null
      this.projects = null
      this.showConfiguration = false
      this.config = formConfig
      storage.set('config', this.config)
    },
    splitNames(names: string) {
      return names.split(';')
          .map((part) => part.trim())
          .filter((part) => part !== '')
    },
    async loadProjects(config: Config) {
      try {
        // @ts-ignore
        this.gitlab = new GitLab(config.url, config.token)
        // @ts-ignore
        const groups = await this.getGroupsFromConfig(config.groups)
        // @ts-ignore
        const groupProjects = await this.getGroupsProjects(groups)
        // @ts-ignore
        const userProjects = await this.getProjectsFromConfig(config.projects)
        const projects = groupProjects.concat(userProjects).flatMap((a: any) => a)
        this.projects = projects
        if (projects.length === 0) {
          // @ts-ignore
          this.setError('Could not find any projects.')
        }
      } catch (err) {
        // @ts-ignore
        this.handleError(err)
      }
    },
    async loadPipelines() {
      if (this.projects) {
        // @ts-ignore
        this.pipelines = await this.getProjectsPipelines(this.projects)
      }
    },
    async getGroupsFromConfig(names: string) {
      // @ts-ignore
      const splitNames = this.splitNames(names)
      const groups = await Promise.all(splitNames.map((name: string) => {
        // @ts-ignore
        return this.gitlab!.searchGroups(name)
      }))
      return groups.flatMap((a) => a)
    },
    async getProjectsFromConfig(names: string) {
      // @ts-ignore
      const splitNames = this.splitNames(names)
      const projects = await Promise.all(splitNames.map((name: string) => {
        // @ts-ignore
        return this.gitlab!.searchProjects(name, {search_namespaces: true})
      }))
      return projects.flatMap((a) => a)
    },
    async getProjectsPipelines(projects: GitLabProject[]) {
      const batch = 5
      const pipelines = [] as Pipeline[]
      let i
      for (i = 0; i < projects.length; i += batch) {
        const projectPipelines = await Promise.all(projects.slice(i, i + batch).map((project) => {
          // @ts-ignore
          return this.gitlab!.getPipelines(project.id)
        }))
        let x
        for (x = 0; x < projectPipelines.length; x++) {
          const [pipeline] = projectPipelines[x]!
          if (!!pipeline) {
            const project = projects[i + x]
            // @ts-ignore
            const pipelineDetails = await this.gitlab!.getPipelineDetails(project.id, pipeline.id)
            // @ts-ignore
            if (!this.isPipelineZombie(pipelineDetails)) {
              pipelines.push({
                projectName: project.name,
                namespace: project.namespace.name,
                ...pipelineDetails,
              })
            }
          }
          pipelines.sort((e1, e2) => {
            const a = e1.namespace + e1.projectName
            const b = e2.namespace + e2.projectName
            return a < b ? -1 : 1
          })
        }
      }
      return pipelines
    },
    async getGroupsProjects(groups: GitLabGroup[]) {
      const projects = await Promise.all(groups.map((group) => {
        // @ts-ignore
        return this.gitlab!.getAllProjects(group.id, {simple: true})
      }))
      return projects.flatMap((a) => a)
    },
    isPipelineZombie(pipeline: GitLabPipelineDetails) {
      return !pipeline.started_at && pipeline.status !== 'pending'
    },
    setError(err: string) {
      // @ts-ignore
      this.stopPollingPipelines()
      // @ts-ignore
      this.stopPollingProjects()
      this.error = err
    },
    handleError(err: any) {
      // @ts-ignore
      this.stopPollingPipelines()
      // @ts-ignore
      this.stopPollingProjects()
      // @ts-ignore
      this.autoRetry()
      switch (true) {
        case err.code && err.code === 'ECONNABORTED':
          return this.error = `Could not establish connection to '${this.config.url}'.`
        case err.response && (err.response.status === 401 || err.response.status === 403):
          return this.error = `Not authorized to get projects from '${this.config.url}'.`
        case err.response && err.response.status !== 200 || err.response.status !== 203:
          return this.error = `Could not get list of projects from '${this.config.url}'.`
        default:
          // tslint:disable-next-line:no-console
          console.error(err)
          return this.error = 'Something unexpected went wrong.'
      }
    },
    resizeGrid() {
      const tiles = this.$refs.tiles as HTMLDivElement
      if (!!tiles) {
        const grid = tiles.children[0] as HTMLDivElement
        const tile = grid.children[0] as HTMLDivElement
        const maxWidth = Math.floor(tiles.offsetWidth / tile.offsetWidth) * tile.offsetWidth
        grid.style.maxWidth = maxWidth + 'px'
      }
    },
  },
  created() {
    // @ts-ignore
    if (!this.configuring) {
      // @ts-ignore
      this.loadProjects(this.config)
    }
  },
  updated() {
    // @ts-ignore
    this.$nextTick(() => {
      // @ts-ignore
      this.resizeGrid()
    })
  },
  mounted() {
    // @ts-ignore
    window.addEventListener('resize', this.resizeGrid.bind(this))
  },
  destroyed() {
    // @ts-ignore
    window.removeEventListener('resize', this.resizeGrid.bind(this))
  },
})
</script>

<style lang="scss">

$red: #dc4644;
$green: #2f9e60;
$grey: #475158;

body {
  @import 'stisla-theme/dist/scss/style.scss';

  &::after {
    display: none;
  }

  min-width: 22rem;
}

#app {
  padding: 2rem;
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  font-family: "Nunito", "Segoe UI", arial;
  font-size: 1rem;
  color: #ffffff;
}

.configuration-form {
  margin-top: 2rem;
  max-width: 50rem;
  width: 100%;
}

.fluid {
  width: 100%;
}

button.options {
  z-index: 2;
  color: #ffffff;
  display: block;
  position: absolute;
  top: 1rem;
  right: 1rem;
  opacity: 1;

  &:hover {
    color: #ffffff;
  }

  svg {
    height: 1.4rem;
    width: 1.4rem;
  }
}

.error-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: $red;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.5);

  .icon {
    width: 4rem;
    height: 4rem;
    margin-bottom: 1rem;
  }

  p, button {
    color: #ffffff;
  }
}

.tiles {
  display: flex;
  justify-content: center;
}

</style>
